* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/bg.png);
  backdrop-filter: blur(20px); }

.game-container {
  width: 50rem;
  height: 73rem;
  position: absolute;
  overflow: hidden; }
  .game-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bg.png);
    background-position: bottom;
    filter: hue-rotate(60deg); }

.sky {
  width: 50rem;
  height: calc(73rem - 6.1rem);
  position: absolute; }

.ground {
  width: 50rem;
  height: 6.1rem;
  position: absolute;
  bottom: 0;
  background: #f5cc97;
  filter: hue-rotate(60deg);
  z-index: 99; }

.bird {
  background: url(../img/bird.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 6rem;
  height: 4.5rem;
  z-index: 10; }

.obstacle {
  background: url(../img/pipe.png);
  filter: hue-rotate(60deg);
  width: 6rem;
  height: 30rem;
  position: absolute;
  z-index: 20; }
  .obstacle--top {
    background: url(../img/pipe.png);
    filter: hue-rotate(60deg);
    width: 6rem;
    height: 28rem;
    position: absolute;
    z-index: 20;
    transform: rotate(180deg); }
